
/**** Page ****/

.text_label {
	font-weight: 700;
}

li {
    list-style-type: none;
}

select#filter-collection {
	margin: 0 auto 60px;
	width: 130px;
	display: block;
	text-align-last: center;
    padding-right: 18px;
    font-size: 20px;
    color: #22B573;
    font-weight: 600;
}

